

.js-carousel-container{
	position: relative;
	/*padding: 20px;*/
	/*overflow: auto;*/
	/*background: red;*/
	/*margin: 0 -20px;*/
	color: #FFF;
	max-width: 100%;
	display: block;
	/*min-height: 100%;*/

	height: auto;


	/* IMAGES */

	.bg-industry {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		/*height: auto;*/
		width: 100%;
		display: block;
	}

	.bg-industry.slide-0 {
		background-image: url(/img/industry-business.jpg);
	}
	.bg-industry.slide-1 {
		background-image: url(/img/industry-financial.jpg);
	}
	.bg-industry.slide-2 {
		background-image: url(/img/industry-ICT.jpg);
	}
	.bg-industry.slide-3 {
		background-image: url(/img/industry-education.jpg);
	}
	.bg-industry.slide-4 {
		background-image: url(/img/industry-culture.jpg);
	}
	.bg-industry.slide-5 {
		background-image: url(/img/industry-print.jpg);
	}


}

.js-carousel-section{
	display: block;

	height: 0px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	
	/*padding: 20px;*/

	.bg-dark-trans {
		width: 100%;

		h1 {
			font-family: $base-font-family;
			font-size: 24px;
		}

		p {
			font-size: 18px;
		}
	}
}

.js-carousel-section.active{
	opacity: 1;

	height: auto;
	overflow: visible;

	
}

/* Commented out because sliding effect causes there to be overflow on the sides (on mobile)*/

/*.js-carousel-section.left{
	left: -100%;
}

.js-carousel-section.right{
	left: 100%;
}
*/
.js-carousel-control{
	/*position: relative;*/
	width: 100%;
	z-index: 999;
	display: inline-block;
	float: left;
	/*padding-bottom: 60px;*/
	/*padding: 10px 0;*/

	.control{

				

		h1{
			/*font-size: 24px;*/
			font-size: 18px;
			padding: 15px 20px;
			background: rgba(0,0,0,0.4);
			color: #FFF;
			cursor: pointer;
			transition: background ease .2s;
			font-family: $base-font-family;
		}
		i {
			color: rgba(255,255,255,0.3);
			float: right;
			/*line-height: 58px;
			font-size: 24px;*/
			font-size: 24px;/*
			padding-top: 24px;*/
			padding-right: 10px;
			line-height: 58px;
			transition: color ease .2s;
		}

		/*&:nth-child(5) {
			i {
			line-height: 72px;
			}
		}*/
	}
	.control.active{
		h1{
			background: rgba(0,0,0,0.8);
		}
		i {
			display: none;
		}
	}

	&:first-child {

	}
}

@media (min-width: 800px) {

	.js-carousel-container{
		height: auto;
	}

	.js-carousel-section{
		padding: 60px 0;
		z-index: -1;

		position: absolute;
		top: 0;
		left: 0;
		transition: all ease .5s;
		opacity: 0;
		height: auto;



		.bg-dark-trans {
		width: 60%;
		float: right;

		h1 {
			font-size: 24px;
		}

		p {
			font-size: 18px;
		}
		.wrapper{

			min-height: 600px;
			float:  none;

		}
	}
	}

	.js-carousel-control{
		padding: 100px 0;
		width: 35%;

		.control{
			padding: 5px 0;
			background-color: transparent;

			h1 {
				font-size: 24px;
			}

			i {
				line-height: 58px;
				font-size: 24px;
				padding-top: 0;
			}
		}
		.control.active{
		i {
			color: rgba(255,255,255,1);
			display: block;
		}
	}
	}

}