.bg-image {
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    display: block;
    color: #FFF !important;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: block;
}

.sector-gallery {
    margin: 0;
    padding: 0;
    list-style: none;


    li {
        float: left;
        width: 31%;
        margin: 0.66%;
        padding: 20px;
        border: 1px solid #dc6900;
        border-radius: 5px;
        color: #dc6900;
        transition: all .1s ease-in;

        h2 {
            padding: 10px 0 0 0;
            line-height: 1em;
        }
    }

    li:hover {
        background-color: #dc6900;
        color: #fff;
    }
}

@media (max-width: 660px) {
    .sector-gallery li {
        width: 45%;
        margin: 2.5%;
    }

    .bg-image {
        p {
            width: 100%;
        }
    }
}


