/*h1, h2 {
	font-family: Georgia, serif;
}*/

/*tagline*/

#tagline{
	width: 100%;
	background: #000;
	color: #FFF;
	font-style: italic;
	p{
		padding: 20px;
		font-size: 18px;
		margin: 0;
		font-family: $pwc-font; 
	}
}


/*welcome section*/

#welcome{
	

	h1{
		padding: 60px 20px 60px;
	}

	p {
		padding: 0;
	}
}


.bg-dark-trans{
	background: rgba(0,0,0,0.4);
	width: 100%;
	padding: 20px 0;

	h1{
		font-size: 28px;
		padding: 0 20px;
	}
	p{
		width: 100%;
		padding: 0 20px;
	}
}



#welcome .bg-dark-trans{
	/*p:first-child{
		padding-left: 0;
	}
	p:last-child{
		padding-right: 0;
	}*/

	p {
		padding: 0 20px;
	}


}

/*industries section*/

#industries{
	padding: 0 20px;
	h2{
		padding: 60px 0;
	}
	/*all followiing styles refer to the accordion setup we were using until friday*/
	/*ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      width: 100%;
      padding: 20px;
      border: 2px solid #dc6900;
      border-radius: 8px;
      color: #dc6900;
      transition: all .2s ease;
      margin: 40px 0;
      h2 {
        padding: 0;
        line-height: 60px;
        margin: 0 0 0 80px;
        font-family: Arial, sans-serif;
      }
      i.arrow{
	    	float: right;
	    	line-height: 60px;
	    	font-size: 32px;
	    }
	    i.industry{
	    	float: left;
	    	line-height: 60px;
	    	font-size: 32px;
	    	margin-left: 15px;
	    }
    }
    li:hover {
        background-color: #dc6900;
        color: #fff;
    }
  }
  .accordion-content{
  	display: none;
  }*/
}

/*what-we-do section*/

#what-we-do{
	padding: 20px;

	h2{
		padding: 0 0 30px 0;
	}

	ul {
		padding-left: 20px;
	}
}

/*how we work section*/

#how-we-work {


	padding: 20px;
	h2 {
		padding: 30px 0;
	}

	ol {
		padding-left: 20px;
	}
}

/*team section*/

#team {
	padding: 20px;
	h2{
		padding: 0 0 40px 0;
	}

	section.team-head{
		text-align: center;
		padding: 20px 0;

		&:hover {
			.team-img-arrow {
				background-color: #a32020;
			}
			h1 {
				color: #a32020;
			}
		}
		h1{
			padding: 30px 20px 0;
			font-size: 24px;
			font-family: $base-font-family;
			font-weight: 500;
		}
		h2{
			padding: 0 20px 10px;
			font-size: 18px;
			font-family: $base-font-family;
			font-weight: 200;
		}
		.team-img{
			/*background: #333;*/
			border-radius: 50%;
			display: block;
			/*width: 80%;
			max-width: 180px;*/
			width: 180px;
			height: 180px;
			margin: 0 auto;

			position: relative;

			background-repeat: no-repeat;
			background-size: cover;
		}

		.team-img-arrow {
			background-color: #939598;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			display: table-cell;
			vertical-align: middle;
			transition: all .2s ease;
			position: absolute;
			bottom: 0;
			right: 0;

			&:before {
				font-family: FontAwesome;
				content: "\F054";
				color: white;
				font-size: 1em;
				line-height: 40px;
			}

			&:hover {
				background-color: #a32020;
			}
			
		}

		.team-details-mob {
			text-align: left;
			display: none;
		}
	}

	section.team-head.active {
		h1 {
			color: #a32020;
		}

		.team-img-arrow {
			background-color: #a32020;

			&:before{
				content: "\F078";
			}
		}

		/*$('.active h1').css('color', '#a32020');
		$('.active .team-img-arrow').css('background-color', '#a32020');*/
	}

	.team-img {
		background-color: #fff;
	}

	.slide-0 .team-img {
		background-image: url(/img/about-us-sara-crop.jpg);
		background-position: 0px -10px;
	}
	.slide-1 .team-img {
		background-image: url(/img/about-us-kasia-crop.jpg);
		background-position: 0px 10px;
	}
	.slide-2 .team-img {
		background-image: url(/img/about-us-philip-crop.jpg);
		background-position: 0px -10px;
	}
	.slide-3 .team-img {
		background-image: url(/img/about-us-tim-crop.jpg);
		background-position: 0px -5px;
	}
	.slide-4 .team-img {
		background-image: url(/img/about-us-iain-crop.jpg);
		background-position: 5px 10px;
	}

}



#team section.team-details{
	display: none;

	h1 {
		color: #a32020;
	}

}



/* Subscribe */

#subscribe {

	padding: 0 20px;

	h2 {
		padding: 30px 0;
	}

	section {
		padding-bottom: 30px;
	}
}


/* Links */

#links {
	padding: 0 20px;

	h2 {
		padding: 30px 0;
	}

	ul {
		margin: 0 0 0 16px;
		padding: 0 0 30px 0;
	}

	a {
		color: #A32020
	}
}


/* Footer */

.bg-footer {
	background-color: #404041;
	height: auto;
	display: block;
	width: 100%;
	padding: 0 20px;

	ul {
		margin: 0;
	}

	li {
		list-style: none;
		float: left;
		padding: 0 2% 0 0;

		/*&:first-child {
			padding: 0;
		}*/

		&:last-child {
			color: #e7e7e8;;
		}
	}

	a {
		color: #e7e7e8;
	}

	#logo {

		text-align: center;

		img {
			height: 100px;
			width: auto;
			/*margin: 30px 30px 20% 0;*/
			margin: 20px auto;
		}
	}
}

.footer-list {
	li {
		font-size: 0.8em;
	}
}


/* Form */

.checkbox-list {
	margin: 0;
	padding: 0;
	list-style: none;
	

	li {
		width: 100%;
	}
}


input {
	font-family: inherit;
}

/*input:focus {
	outline: none;
}*/

input[type=text] {
	display: block;
	margin: 10px 0;
	width: 100%;
	padding: 8px;
	border: 1px solid #c7c8ca;
	border-radius: 5px;
	
	&:last-of-type {
		margin-bottom: 30px;
	}
}

/*input[type="checkbox"] {
	display: none;
}*/


a.button {
	color: white;
	background-color: #A32020;
	padding: 10px 20px;
	border-radius: 5px;

	&:hover {
		text-decoration:none;
	}
}



/* Columns */


#team-col-left {
	display: none;
}


.bg-color {
	    background-color: #e7e7e8;
	    height: auto;
	    width: 100%;
	    display: block;
	}



/*.bg-color#team {
	background-color: #e7e7e8;
}*/


/* IMAGES */

.bg-image#welcome {
	background-image: url(/img/bg-image-welcome-overlay.png), url(/img/bg-image-welcome.jpg);

}

.bg-image#what-we-do {
	background-image: url(/img/bg-image-sso.jpg);
}






@media (min-width: 800px) {
	.bg-dark-trans {
		padding: 30px 0;
	}

	#tagline{
		p {
			padding: 20px 0;
		}
	}

	#welcome .bg-dark-trans{
		background: rgba(0,0,0,0.4);
		p{
			width: 50%;
			float: left;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
	
	#welcome {
		h1{
			padding: 180px 0px 60px;
		}
	}

	#industries {

		padding: 0;

		.bg-dark-trans{
			width: 50%;
			float: right;
		}
	}
	#what-we-do {
		padding: 60px 0;
		.bg-dark-trans{
			width: 75%;
			float: left;
		}
		h2{
			float: left;
			max-width: 40%;
		}
	}

	#how-we-work {
		padding: 60px 0;

		h2:first-child {

			
				padding-top: 0px;
			
		}
	}

	#team{
		/*padding-top: 60px;
		padding-bottom: 60px;
		*/padding: 60px 0;

		section.team-head{
			width: 20%;
			float: left;


		}

		.team-details-mob {
			/*display: none !important;*/
			width: 100%;
			/*padding: 10px 0;*/
			margin: 0 !important;

			p {
				font-family: $pwc-font;
			}
				
		}
	}

	/*#team-col-left {
		display: block;
	}

	#team-col-right {
		float: right;
		width: 75%;
		padding: 0;
		margin: 0 !important;
	}*/

	#team-col-left {
		display: block;
		float: left;
		width: 25%;

		h1, h2 {
			font-family: $pwc-font;
			padding: 0;
			margin: 0;
			font-size: 30px;
		}

	}

	/*#team-col-right {
		width: 100%;
		padding: 10px 0;
		margin: 0 !important;

		p {
			font-family: $pwc-font;
		}
	}*/

	#team-col-left, #team-col-right {
		padding: 60px 0 0 0;
	}

	#subscribe{
		padding: 30px 0;
	}

	#links {
		padding: 30px 0;
	}


	.checkbox-list li {

		float: left;
		width: 50%;
		margin: 0;
		
	}

	input[type=text] {
		width: 40%;
		margin: 20px 0;

		&:last-of-type {
			margin-bottom: 50px;
		}
	}

	.bg-footer {
		li {
			&:last-child {
				float: right;
			}
		}

		#logo {
			text-align: left;
			img {
				margin: 5% 5% 25% 0;
			}
		}
	}

}