/*tagline*/

#tagline{
	width: 100%;
	background: #000;
	color: #FFF;
	text-align: right;
	text-transform: uppercase;
	p{
		padding: 26px 0;
		font-size: 14px;
		margin: 0;
	}
}


/*welcome section*/

#welcome{
	h1{
		padding: 60px 0 140px;
	}
}


.bg-dark-trans{
	background: rgba(0,0,0,0.4);
	width: 100%;
	padding: 30px 0;
	p{
		width: 100%;
		padding: 0 20px;
	}
}

#welcome 	.bg-dark-trans{
	p:first-child{
		padding-left: 0;
	}
	p:last-child{
		padding-right: 0;
	}
}

/*industries section*/

#industries{
	h2{
		padding: 30px 0;
	}
	ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      width: 100%;
      padding: 20px;
      border: 2px solid #dc6900;
      border-radius: 8px;
      color: #dc6900;
      transition: all .2s ease;
      margin: 40px 0;
      h2 {
        padding: 0;
        line-height: 60px;
        margin: 0 0 0 80px;
        font-family: Arial, sans-serif;
      }
      i.arrow{
	    	float: right;
	    	line-height: 60px;
	    	font-size: 32px;
	    }
	    i.industry{
	    	float: left;
	    	line-height: 60px;
	    	font-size: 32px;
	    	margin-left: 15px;
	    }
    }
    li:hover {
        background-color: #dc6900;
        color: #fff;
    }
  }
  .accordion-content{
  	display: none;
  }
}

@media (max-width: 660px) {
  .sector-gallery li {
      width: 45%;
      margin: 2.5%;
  }



}


/*what-we-do section*/

#what-we-do{
	h2{
		padding: 30px 0;
		max-width: 40%;
	}
}

/*team section*/

#team {
	h2{
		padding: 30px 0;
	}
	section.team-head{
		text-align: center;
		h1{
			padding: 30px 20px 0;
			font-size: 24px;
			font-family: Arial, sans-serif;
			font-weight: 500;
		}
		h2{
			padding: 0 20px 10px;
			font-size: 18px;
			font-family: Arial, sans-serif;
			font-weight: 200;
		}
		.team-img{
			background: #333;
			border-radius: 50%;
			display: block;
			width: 80%;
			max-width: 180px;
			margin: 0 auto;
		}
	}
}

#team section.team-details{
	display: none;
}





@media (min-width: 800px) {
	#welcome .bg-dark-trans{
		background: rgba(0,0,0,0.4);
		p{
			width: 50%;
			float: left;
		}
	}
	#what-we-do {
		padding: 60px 0;
		.bg-dark-trans{
			width: 50%;
			float: right;
		}
		h2{
			float: left;
		}
	}
	#team{
		padding-top: 60px;
		padding-bottom: 60px;
		section.team-head{
			width: 20%;
			float: left;
		}
	}
}