@media (min-width: 800px) {

	.sm-hidden{
		display: block;
	}

	#welcome .bg-dark-trans{
		background: rgba(0,0,0,0.4);
		p{
			width: 50%;
			float: left;
			padding: 0 20px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
	
	#welcome {
		h1{
			padding: 180px 0px 60px;
		}
	}

	#industries {

		padding: 0;

		.bg-dark-trans{
			width: 50%;
			float: right;
		}
	}
	#what-we-do {
		padding: 60px 20px;
		.bg-dark-trans{
			width: 75%;
			float: left;
		}
	}

	#how-we-work {
		padding: 60px 0;

		h2:first-child {

			
				padding-top: 0px;
			
		}
	}

	#team{

		padding: 60px 0;

		section.team-head{
			width: 20%;
			float: left;


		}

		.team-details-mob {


			p {
				font-family: $pwc-font;
			}
				
		}
	}

	#team-col-right {
		float: right;
		width: 75%;
		padding: 0;
		margin: 0 !important;
	}

	#team-col-left {
		display: block;
		float: left;
		width: 20%;

		h1, h2 {
			font-family: $pwc-font;
			padding: 0;
			margin: 0 0 0.6em 0;
			font-size: 30px;
		}
		h1 {
			color: #a32020;
		}
		h2{
			font-size: 18px;
		}

	}

	
	#team-col-left, #team-col-right {
		padding-top: 60px;
	}

	#subscribe{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#links {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.team-details-div{
		clear: both;
	}


	.checkbox-list li {

		float: left;
		width: 50%;
		margin: 0;
		
	}

	input[type=text],input[type=email] {
		width: 40%;
		/*margin: 20px 0;*/

	}

	.bg-footer {
		ul{
			padding-top: 50px;
			clear: both;
		}
		li {
			float: left;
			&:last-child {
				float: right;
			}
		}

		#logo {
			text-align: left;
			img {
				margin: 0;
				display: inline-block;
				&:last-of-type {
					
					/*float: right;*/
				}
			}
		}

		.col-right {
			width: 50%;
			float: right;
			font-size: 0.8em;
			color: #e7e7e8;
			border-left: 1px solid darken($footer-color, 60%);
			padding-left: 5%;
			line-height: 1.5em;
		}

		.col-right > p {
			padding-top: 30px;
		}

		.col-left {
			width: 50%;
			float: left;
		}
	}

	.col-main{
        max-width: 1170px;
        margin: 0 auto;
    }

	.timeline-bar {

		li {
			margin: 0;
			display: inline-block;
			width: 22%;
			padding: 30px;
			/*margin: 1%;*/
			vertical-align: top;
			display: table-cell;
		}

		.absolute-number {
			margin-top: -40px;
			margin-left: -40px;
		}
	}

}