<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="navigation-main">
      <div class="wrapper">
        <!-- <div class="js-btn-toggle pull-right">
          <i class="fa fa-bars" data-modifies="navigation-main"></i>
        </div> -->
          <a href="#" class="logo">
            <img src="img/logo-pwc.png" alt="PwC logo">
          </a>
          <h1>Skills for Australia</h1>
          <!-- <p>Subscribe to our newsletter for industry updates</p>
          <a href="#" class="button">Sign up</a> -->

          <div class="nav-subscribe">
            <p class=" sm-hidden">Subscribe to receive industry updates</p>
            <a href="#" class="button sm-hidden" onClick="scrollTo('#subscribe', 0); return false;">Subscribe</a>
            <div class="js-btn-toggle pull-right pointer">
              <i class="fa fa-bars" data-modifies="navigation-main"></i>
            </div>
          </div>

          <div class="js-hide-slide navigation-main">
            <div class="col-main">
              <nav role="navigation">
                <ul>
                  <li><a href="#tagline" onClick="scrollTo('#tagline', 0); return false;">
                    Return to top</a></li>
                  <li><a href="#industries" onClick="scrollTo('#industries', 0); return false;">
                    Industry Sectors</a></li>
                  <li><a href="#what-we-do" onClick="scrollTo('#what-we-do', 0); return false;">
                    What We Do</a></li>
                  <li><a href="#how-we-work" onClick="scrollTo('#how-we-work', 0); return false;">
                    How We Work</a></li>
                  <li><a href="#subscribe" onClick="scrollTo('#subscribe', 0); return false;">
                    Subscribe</a></li>
                  <li><a href="#team" onClick="scrollTo('#team', 0); return false;">
                    About Us</a></li>
                  <li><a href="#links" onClick="scrollTo('#links', 0); return false;">
                    Links</a></li>
                </ul>
              </nav>
            </div>
          </div>

      </div>
      

    </div>

    <div id="tagline">
      <div class="wrapper">
        <p>Skills for Australia - Putting employers at the heart of Australia’s qualification and training system</p>
      </div>
    </div>

    <div class="bg-image" id="welcome">
      <div class="wrapper">
        <h1>Welcome to<br>
        PwC’s Skills for Australia</h1>
      </div>
      <div class="bg-dark-trans">
        <div class="wrapper clearfix">
          <p>Our mission is to put employers at the heart of Australia’s qualifications and training system.  We will do this by working with industry and business across Australia to identify the skills our economy needs to thrive and grow in the future.</p>
          <p>We are passionate about creating a future for Australia that gives our people the best opportunities to get fulfilling jobs, and helps our country to succeed in a globally competitive business environment. We will do this through targeted reform of the Vocational Education &amp; Training (VET) system.</p>
        </div>
        <div class="pull-center pointer"><i class="fa fa-chevron-down" onClick="scrollTo('#industries', 0); return false;"></i></div>
      </div>
    </div>

    <div>
      <div class="wrapper" id="industries">
        <h2>Skills for Australia is the Skills Service Organisation for the following industry sectors:</h2>
      </div>
      {% include industries.html %}
      <!-- <div class="bg-image" id="industries">
        
      </div> -->
    </div>

    <div class="bg-image" id="what-we-do">
      <div class="wrapper clearfix">
          {% include content-what-we-do.html %}
      </div>
    </div>

    <div class="bg-color">
    <div class="wrapper clearfix" id="how-we-work">
      {% include content-how-we-work.html %}
    </div>
    </div>

    <div class="wrapper clearfix" id="subscribe">
      {% include subscribe-form.html %}
    </div>

    <div class="success">
      <div class="wrapper clearfix" id="success-bar">
        <p>Thank you for subscribing to our mailing list. We will be in touch with industry updates related to your interest areas.</p>
        <p>Please share your views on Australia's current and future skills needs, existing training packages, and what changes you would like to see to Australia's VET qualifications system. Alternatively, you can get in touch by emailing <strong><a href="mailto:info@skillsforaustralia.com">info@skillsforaustralia.com</a></strong> or calling us on <strong>1800 714 819</strong>.</p>
      </div>
      
    </div>

    <div class="bg-color">
      <div class="wrapper clearfix" id="team">
        {% include team.html %}
      </div>
    </div>

      <div class="wrapper clearfix" id="links">
          {% include content-links.html %}
      </div>
    

    <div class="bg-footer clearfix">
      {% include footer.html %}
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57092701-3', 'auto');
      ga('send', 'pageview');

    </script>
    

  </body>

</html>
