<h2>What does a Skills Service Organisation do?</h2>
<div class="bg-dark-trans">
	<p><strong>As a Skills Service Organisation (SSO), Skills for Australia is responsible for working with industry to:</strong></p>
	
	<ul>
		<li>Research what skills are needed in our industries and businesses, both now and in the future, to provide the right skills to match our job needs; helping us to stay at the forefront of global competitiveness and support continued economic prosperity.</li>
		<li>Identify and understand current and emerging trends in the global and domestic economy and how they impact on Australia’s skills needs.</li>
		<li>Revise our qualifications and training programs to better match what people learn with the skills needs of our industries and businesses; giving our population the best possible chance of developing work ready skills.</li>
	</ul>

	<p>Skills for Australia’s mission is to put employers, across the country, at the heart of the nation’s qualifications and training system. To do this we will keep employers informed about trends in their industry, listen to their concerns and get their feedback on qualifications and training packages.</p>
	<p>This site will be one of the focal points for this engagement. In the next few months you can expect to see:</p>
	<ul>
		<li>data driven insights,</li>
		<li>industry research publications,</li>
		<li>news updates,</li>
		<li>blogs and interviews with leading industry voices,</li>
		<li>surveys and other exciting activities.</li>
	</ul>
	<p>Our engagement starts now, so get in touch with us to share your thoughts, or sign up (link to email address) to receive updates tailored for your industry and interests.</p>
</div>

