<h2>What does an SSO do?</h2>
<p>As a SSO, Skills for Australia is responsible for working with industry to:</p>
<ul>
	<li>Research what skills are needed in our industries and businesses, both now and in the future, to allow our economy to grow, provide the right skills to match our job needs and help us to stay at the forefront of economic prosperity and global competitiveness</li>
	<li>Revise our qualifications and training standards so that what people learn and are trained in matches what our industries and businesses need and gives our population the best possible chance of developing work ready skills</li>
</ul>