<h1>Welcome to PwC’s Skills for Australia!</h1>
<p>Our mission is to put employers at the heart of Australia’s qualifications and training system.  We will do this by working with industry and business across Australia and identify the skills our economy needs to thrive and grow in the future.</p>
<p>We are passionate about creating a future for Australia that gives our people the best opportunities to get fulfilling jobs, and helps our country to succeed in a globally competitive business environment.
Skills for Australia is the Skills Service Organisation (SSO) for the following sectors:</p>
<ul>
	<li>Business services</li>
	<li>Financial Services</li>
	<li>IT</li>
	<li>Education</li>
	<li>Cultural and related industries</li>
	<li>Printing and graphics</li>
</ul>