<footer>

  <div class="wrapper pad20x clearfix" id="logo">
    <div class="col-left">
      <img src="img/logo-pwc-white.png" alt="PwC logo">
      <img src="img/logo-aust-govt.png" alt="Australian Government logo">
    </div>
  	<div class="col-right padxx20x">
      <div>
        <h3>Contact us</h3>
        <p><span class="fa fa-phone"></span>  1800 714 819</p>
        <p><span class="fa fa-envelope"></span>  <a href="mailto:info@skillsforaustralia.com">info@skillsforaustralia.com</a></p>
      </div>

      <p>Disclaimer: &copy; 2016 PricewaterhouseCoopers Data and Analytics Services Pty Limited. All rights reserved. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. Please see <a href="http://www.pwc.com/structure">www.pwc.com/structure</a> for further details.Liability limited by a scheme approved under Professional Standards Legislation. PwC does not represent Business Services, Cultural and Related Industries, Education, Financial Services, Information and Communications Technology, or Printing and Graphic Arts industries, the Department of Education and Training or the Commonwealth. PwC acknowledges the financial support received by the Commonwealth to operate as a Skills Service Organisation.</p>
    </div>


  	<ul class="footer-list padx20">
  		<li><a href="http://www.pwc.com.au/contact-us/legal-disclaimer.html" target="_blank">Legal</a></li>
  		<li><a href="http://www.pwc.com.au/contact-us/privacy-policy.html" target="_blank">Privacy Policy</a></li>
  		<li><a href="http://www.pwc.com.au/contact-us/site-provider.html" target="_blank">Site Provider</a></li>
      <li><a href="http://www.pwc.com.au/contact-us/linking-policy.html" target="_blank">Linking Policy</a></li>
      <li><a href="http://www.pwc.com.au/contact-us/cookies-info.html" target="_blank">Cookies</a></li>
  		<li>&copy; Copyright 2016. All rights reserved.</li>
  	</ul>
  </div>

</footer>

<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/sfa.js"></script>
