<footer>

  <div class="wrapper padxx20x" id="logo">
  	<img src="img/logo-pwc-white.png" alt="PwC logo">
  	<img src="img/logo-aust-govt.png" alt="Australian Government logo">

  	<ul class="footer-list clearfix">
  		<li><a href="#">Legal</a></li>
  		<li><a href="#">Privacy</a></li>
  		<li><a href="#">Contact us</a></li>
  		<li>&copy; Copyright 2016. All rights reserved.</li>
  	</ul>
  </div>

</footer>

<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/sfa.js"></script>