<footer>

  <div class="wrapper pad20x clearfix" id="logo">
    <div class="col-left">
      <img src="img/logo-pwc-white.png" alt="PwC logo">
      <img src="img/logo-aust-govt.png" alt="Australian Government logo">
    </div>
  	<div class="col-right pad20x">
      <p>PwC acknowledges the financial support received by the Commonwealth to operate as a Skills Service Organisation.</p> 
      <p>PwC does not represent the Industries.</p>
      <p>PwC does not represent the Commonwealth or the Department.</p>

      <div>
        <h3>Contact Us</h3>
        <p><span class="fa fa-phone"></span>  1800 714 819</p>
        <p><span class="fa fa-envelope"></span>  admin@skillsforaustralia.com</p>
      </div>
    </div>


  	<ul class="footer-list padx20">
  		<li><a href="#">Legal</a></li>
  		<li><a href="#">Privacy</a></li>
  		<li><a href="#">Contact us</a></li>
  		<li>&copy; Copyright 2016. All rights reserved.</li>
  	</ul>
  </div>

</footer>

<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/sfa.js"></script>
