<div class="js-carousel-container js-carousel-01 clearfix" data-name="js-carousel-01" id="carouselDiv">
	<!-- controls -->
	<div class="wrapper">
		<div class="js-carousel-control">
			{% for industry in site.data.industries %}
				<div class="control" onClick="">
					<i class="fa fa-chevron-right arrow"></i>
					<h1>{{ industry.name }}</h1>
				</div>

				<div class="js-carousel-section js-carousel-01 bg-industry clearfix">
					<div class="wrapper clearfix">
						<div class="bg-dark-trans">
							<h1>{{ industry.name }}</h1>
							<p><strong>Packages:</strong> {{ industry.packages  }}</p>
							{% for item in industry.contents %}
								<p>{{ item }}</p>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- content -->
	<!-- {% for industry in site.data.industries %}
	
	{% endfor %} -->
</div>