<h2>Subscribe to receive updates from our website!</h2>

<p>You will receive a free copy of relevant thought leadership when you subscribe to our news, event updates and alerts about new content of interest to you.</p>

<section>
  <form>

    <input type="text" id="firstName" name="firstName" placeholder="First name *" required>
    <input type="text" id="lastName" name="lastName" placeholder="Last name">
    <input type="email" id="email" name="email" placeholder="Email address *" required>
    <p class="errorText">* Please input a valid email address.</p>
    <input type="text" id="position" name="position" placeholder="Position *" required>
    <p class="errorPosition">* Please input your position.</p>

    <h3>Areas of Interest</h3>

    <ul class="checkbox-list clearfix">
      <li>
        <label>
          <input type="checkbox" class="interests" name="interests" value="Business Services">
          Business Services
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" class="interests" name="interests" value="Cultural and Related Industries">
          Cultural and Related Industries</label>
      </li>
      <li>
        <label>
          <input type="checkbox" class="interests" name="interests" value="Education">
          Education</label>
      </li>
      <li>
        <label>
          <input type="checkbox" class="interests" name="interests" value="Financial Services">
          Financial Services</label>
      </li>
      <li>
        <label>
          <input type="checkbox" class="interests" name="interests" value="Information and Communications Technology">
          Information and Communications Technology</label>
      </li>
      <li>
        <label>
          <input type="checkbox" class="interests" name="interests" value="Printing and Graphic Arts">
          Printing and Graphic Arts</label>
      </li>
    </ul>
    <p class="errorInterest">* Please tick at least one area of interest.</p>
    <a href="#subscribe" id="submit" class="button disableClick" onclick="postContactToGoogle()">Subscribe</a>
    <!-- <p class="errorInterest">Your form has been submitted.</p> -->
    <!-- <input type="submit" id="submit" name="submit" value="Subscribe" onsubmit="return postContactToGoogle();" disabled> -->
    
  </form>
</section>