<!-- <section class="google-form">
  <iframe src="https://docs.google.com/forms/d/11mbXFu-eVByJnAYIACDl4JzfZCn3tGIXxY4BOuuXfNc/viewform?embedded=true" width="900" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</section> -->

<h2>Subscribe to our newsletter for industry updates</h2>

<p>You will receive a free copy of relevant thought leadership when you subscribe to our news, event updates and alerts about new content of interest to you.</p>


<section>
  <form>

    <input type="text" id="firstName" name="firstName" placeholder="First name">
    <input type="text" id="lastName" name="lastName" placeholder="Last name">

    <ul class="checkbox-list clearfix">
      <li>
        <input type="checkbox" />
        <label>Business Services</label>
      </li>
      <li>
        <input type="checkbox">
        <label>Information and Communications Technology</label>
      </li>
      <li>
        <input type="checkbox">
        <label>Financial Services</label>
      </li>
      <li>
        <input type="checkbox">
        <label>Cultural and Related Industries</label>
      </li>
      <li>
        <input type="checkbox">
        <label>Education</label>
      </li>
      <li>
        <input type="checkbox">
        <label>Printing and Graphics</label>
      </li>
    </ul>

    <input type="text" id="email" name="email" placeholder="Email address" />
    <!-- <input type="submit" value="SUBSCRIBE"> -->
    <a href="#" class="button" onclick="postContactToGoogle()">SUBSCRIBE</a>
    
  </form>
</section>