<h2>About us</h2>

<div class="js-a-group">
	{% for member in site.data.team %}
	<section data-modifies="" class="team-head js-team-member">
		<div class="team-img js-square">
			<!-- <img src="{{site.baseurl}}/img/{{ member.image }}"> -->
			<div class="team-img-arrow"></div>
		</div>
		<strong><h1>{{ member.name }}</h1></strong>
		<p>{{ count }}</p>
		<h2>{{ member.position }}</h2>

		<!-- Mobile content -->
		<!-- {% for item in member.contents %}
		<div class="team-details-mob">
			<p>{{ item }}</p>
		</div>
		{% endfor %} -->

	</section>
	{% endfor %}


	<!-- Mobile content -->
	<!-- {% for member in site.data.team %}
	<section class="team-details-mob">

		<h1>{{ member.name }}</h1>
		<h2>{{ member.position }}</h2>
		
		{% for item in member.contents %}
		<div id="">
			<p>{{ item }}</p>
		</div>
		{% endfor %}
	</section>

	{% endfor %} -->

	<!-- Big content for website - expands below -->
	{% for member in site.data.team %}
	<section class="team-details js-team-section">

		<div id="team-col-left">
			<h1>{{ member.name }}</h1>
			<h2>{{ member.position }}</h2>
		</div>
		
		<div id="team-col-right">
		{% for item in member.contents %}
		
			<p>{{ item }}</p>
		
		{% endfor %}
		</div>
	</section>

	{% endfor %}
</div>