<h2>Our team</h2>

<div class="js-a-group">
	{% for member in site.data.team %}
	<section data-modifies="" class="team-head js-team-member">
		<div class="team-img js-square">
			<div class="team-img-arrow"></div>
		</div>
		<h1>{{ member.name }}</h1>
		<p>{{ count }}</p>
		<h2>{{ member.position }}</h2>
	</section>
	{% endfor %}

	{% for member in site.data.team %}
	<section class="team-details js-team-section">
		{% for item in member.contents %}
		<p>{{ item }}</p>
		{% endfor %}
	</section>

	{% endfor %}
</div>